<div *ngFor="let dado of dados" class="container">
    <img src="{{ dado.thumbnail.path }}.{{ dado.thumbnail.extension }}">
    <div>
        <p id="title">{{ dado.title }}</p>
        
        <p id="format">Tipo: {{dado.format}}</p>

        <!-- <p id="modified">Data de Modificação: {{dado.modified | date: 'dd/MM/yyyy'}}</p> -->
        
        <div *ngFor="let prices of dado.prices" id="precoQuadrinho">
            <p id="price">{{ prices.price | currency:"BRL"}}</p>
            <p id="formaPagamento">Em até 1x {{ prices.price | currency:"BRL"}} sem juros</p>
            <button (click)="compraQuadrinho(dado)">Comprar</button>
        </div>

        <input maxlength="9" placeholder="Digite seu CEP">
        <button id="calcular" (click)="mascaraCep()">Calcular</button>
    </div>
</div>
   