* {
  background-color: #202020;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

img {
  height: 450px;
  margin: 2rem 5rem;
}

#title {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

#format,
#modified {
  color: white;
  font-size: 22px;
  font-weight: 800;
}

#precoQuadrinho {
  background-color: white;
  padding: 0.5rem;
  text-align: center;
  margin-top: 3rem;
}

#price {
  color: green;
  background-color: white;
  font-size: 26px;
  font-weight: 800;
}

#formaPagamento {
  background-color: white;
  font-size: 12px;
  font-weight: 800;
}

button {
  padding: 0.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-color: #202020;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: white;
  width: 10rem;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
  transition: all 0.5s ease-out;
}

input {
  background-color: white;
  border: #cccccc;
  border-radius: 0.4rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding: 0.7rem;
  width: 38%;
  margin-top: 1rem;
}
