<div id="campoQuadrinhos">
    <div>
        <div id="listarQuadrinhos">
            <ul>
                <li class="vitrineQuadrinhos" *ngFor="let quadrinhos of listQuadrinhos">
                    <img src="{{ quadrinhos.thumbnail.path }}.{{ quadrinhos.thumbnail.extension }}">
                    <div *ngFor="let prices of quadrinhos.prices">
                        <h5 class="card-title">{{ prices.price | currency:"BRL"}}</h5>
                    </div>
                    <p class="card-text">{{ quadrinhos.title | slice:0:18 }}</p>
                    <a [routerLink]="['/tela-detalhamento/',quadrinhos.id]">
                        <button>saiba mais</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>