img {
  height: 200px;
  margin-top: 0.5rem;
}

#vitrineQuadrinhos {
  width: 575%;
  position: relative;
  left: -2200%;
  margin-left: 2200%;
}

li {
  width: 2.5%;
  display: inline-block;
  width: 246px;
  text-align: center;
  border: 1px solid #ccc !important;
  margin-left: 0.2rem;
  margin-top: 1rem;
}

p {
  color: black;
  font-size: 16px;
  font-weight: 800;
}

p:hover {
  color: darkgrey;
  font-size: 16px;
  font-weight: 800;
}

button {
  padding: 0.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-color: #202020;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: white;
  width: 10rem;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: green;
  color: white;
  transition: all 0.5s ease-out;
}

.card-title {
  padding: 8px;
  background-color: green;
  color: white;
  font-size: 14px;
}
