<header>
    <a routerLink="/">
        <img src="../assets/img/marvel.png" alt="logo-marvel">
    </a>
    <nav id="nav">
        <button id="btn-mobile">_</button>
        <ul id="menu">
            <li>
                <a routerLink="/tela-detalhamento">Tela de Detalhamento</a>
            </li>
            <li>
                <a routerLink="/checkout-dos-produtos">Produtos Selecionados</a>
            </li>
            <!-- <button type="button" class="btn btn-primary">
                Profile <span class="badge badge-light"></span>
                <span class="sr-only">unread messages</span>
            </button> -->
        </ul>
    </nav>
</header>