body,
ul {
  margin: 0px !important;
}

img {
  margin-top: 0.4rem;
  height: 36px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  color: #999;
}

a:hover {
  border-bottom: 2px solid #e62429;
  color: #fff;
}

header {
  box-sizing: border-box;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  margin-bottom: 2rem;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  //   #btn-mobile {
  //     display: block;
  //   }
  //   #menu {
  // display: none;
  // display: block;
  // position: absolute;
  // width: 100%;
  // top: 70px;
  // right: 0px;
  // background: #e7e7e7;
  // height: 100vh;
  //   }
  //   #nav.active #menu {
  //     display: flex;
  //   }
}
